{% extends "layout.html" %}

{% block css_directory %}../{% endblock %}

{% block title %}
    Finda Book by James
{% endblock %}

{% block body %}
    <h1>{{ book_data["title"] }}</h1>
    <p>By {{ book_data["author"] }}</p>
    <ul>
        <li>ISBN {{ book_data["ISBN"] }}</li>
        <li>First published {{ book_data["year"] }}</li>
        {% if book_data["gr_reviews"] %}
        <li>Goodreads review average {{ book_data["gr_rating"] }} from {{ book_data["gr_reviews"] }} reviews.</li>
        {% else %}
        <li>Book not found on Goodreads.</li>
        {% endif %}
    </ul>

    <hr>
    <div class="container">
        <form action="/" method="post">
    
          <input autocomplete="on" autofocus class="form-control input-sm" name="searchtext" placeholder="Enter Text to Search For" type="text"/><br>
    
          <input type="radio" name="fieldname" value="title" checked> Title 
          <input type="radio" name="fieldname" value="author"> Author
          <input type="radio" name="fieldname" value="isbn"> ISBN       
    
          <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>




{% endblock %}
