{% extends "layout.html" %}

{% block css_directory %}../{% endblock %}

{% block title %}
    Finda Book by James
{% endblock %}

{% block body %}
    <h1>{{ book_data["title"] }}</h1>
    <p>By {{ book_data["author"] }}</p>
    <ul>
        <li>ISBN {{ book_data["ISBN"] }}</li>
        <li>First published {{ book_data["year"] }}</li>
        {% if book_data["gr_reviews"] %}
        <li>Goodreads review average {{ book_data["gr_rating"] }} from {{ book_data["gr_reviews"] }} reviews.</li>
        {% else %}
        <li>Book not found on Goodreads.</li>
        {% endif %}
    </ul>

    <hr>
    <div class="container">
        <form method="post">

          <label for="my_rating">Rate this book:</label>
          <input type="radio" name="my_rating" value=1>1 
          <input type="radio" name="my_rating" value=2>2
          <input type="radio" name="my_rating" value=3>3  
          <input type="radio" name="my_rating" value=4>4        
          <input type="radio" name="my_rating" value=5>5 Stars  <br>

          <label for="my_review">What did you think?</label>
          <textarea class="form-control" id="my_review" name="my_review" rows="3"></textarea> <br>

          <button class="btn btn-primary" type="submit">Post</button>
        </form>
        <hr>
    </div>




{% endblock %}
